# Code Quality
pre-commit
pylint
ruff
pytest

# Data Analysis
numpy==2.1.1
pandas==2.2.2
pyarrow==17.0.0
nltk==3.9.1

# Data Visualization
notebook==7.2.2
matplotlib==3.9.2
seaborn==0.13.2

# Machine Learning
scikit-learn==1.5.2
xgboost==2.1.1
